{% extends 'base.html' %} {% block main %}
<div class="container">
    <h1 class="mb-4">Veterinarios</h1>

    <div class="mb-2">
        <a href="{% url 'vets_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Veterinario
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Especialidad</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for vet in vets %}
            <tr>
                <td>{{vet.name}}</td>
                <td>{{vet.email}}</td>
                <td>{{vet.formatted_phone}}</td>
                <td>{{vet.speciality}}</td>

                <td>
                    <div class="btn-group">
                        <a
                            class="btn btn-outline-primary me-2"
                            href="{% url 'vets_edit' id=vet.id %}"
                        >
                            Editar
                        </a>
                        <form
                            method="POST"
                            action="{% url 'vets_delete' %}"
                            aria-label="Formulario de eliminación de veterinario"
                        >
                            {% csrf_token %}

                            <input
                                type="hidden"
                                name="vet_id"
                                value="{{ vet.id }}"
                            />
                            <button class="btn btn-outline-danger">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No existen veterinarios</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
