{% extends 'base.html' %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Mascota</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form
                class="vstack gap-3 {% if errors %}was-validated{% endif %}"
                aria-label="Formulario de creacion de Mascota"
                method="POST"
                action="{% url 'pets_form' %}"
                novalidate
            >
                {% csrf_token %}

                <input type="hidden" value="{{ pet.id }}" name="id" />

                <div>
                    <label for="name" class="form-label">Nombre</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        value="{{pet.name}}"
                        class="form-control"
                        required
                    />

                    {% if errors.name %}
                    <div class="invalid-feedback">{{ errors.name }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="breed" class="form-label">Raza</label>
                    <select id="breed" name="breed" class="form-select" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        {% for value, label in breeds %}
                            <option value="{{ value }}" {% if pet.breed == value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if errors.breed %}
                    <div class="invalid-feedback">{{ errors.breed }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="birthday" class="form-label"
                        >Fecha de Nacimiento</label
                    >
                    <input
                    type="datepicker"
                    id="birthday"
                        name="birthday"
                        class="form-control datepicker"
                        value="{{ pet.birthday | date:'d/m/Y'}}"
                        required
                    />

                    {% if errors.birthday %}
                    <div class="invalid-feedback">{{ errors.birthday }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="weight" class="form-label">Peso</label>
                    <input
                        type="text"
                        id="weight"
                        pattern="^[0-9]+(\.[0-9]{1,2})?$"
                        name="weight"
                        maxlength="14"
                        class="form-control"
                        value="{{pet.weight}}"
                        title="El peso debe ser un número positivo con hasta dos decimales"
                        required
                    />

                    {% if errors.weight %}
                    <div class="invalid-feedback">{{ errors.weight }}</div>
                    {% endif %}
                </div>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        Inputmask({
            alias: "decimal",
            groupSeparator: "",
            autoGroup: true,
            digits: 2,
            digitsOptional: false,
            placeholder: "0.00",
            integerDigits: 6,
            rightAlign: false,
            suffix: " Kg",
            removeMaskOnSubmit: true,
            allowMinus: false, // No permite valores negativos
        }).mask($("#weight"));
    });
</script>

{% endblock %}
