{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Mascotas</h1>

    <div class="mb-2">
        <a href="{% url 'pets_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nueva Mascota
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Fecha de nacimiento</th>
                <th>Peso</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for pet in pets %}
            <tr>
                    <td>{{pet.name}}</td>
                    <td>{{pet.breed}}</td>
                    <td>{{pet.birthday | date:'d/m/Y'}}</td>
                    <td>{{pet.weight}} Kg</td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary me-2"
                            href="{% url 'pets_edit' id=pet.id %}"
                            >Editar</a>
                            <form method="POST"
                                action="{% url 'pets_delete' %}"
                                aria-label="Formulario de eliminación de Mascota">
                                {% csrf_token %}

                                <input type="hidden" name="pet_id" value="{{ pet.id }}" />
                                <button class="btn btn-outline-danger">Eliminar</button>
                            </form>
                        </div>


                    </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen Mascotas
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
