{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3 d-flex align-items-stretch">
            <a href="{% url 'clients_repo' %}" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-people"></i>
                                Clientes
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-3 d-flex align-items-stretch">
            <a href="{% url 'vets_repo' %}" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-bag"></i>
                                Veterinarios
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-3 d-flex align-items-stretch">
            <a href="{% url 'pets_repo' %}" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-heart"></i>
                                Mascotas
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'medicines_repo' %}" class="text-decoration-none" data-testid="home-Medicines">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-capsule"></i>
                                Medicinas
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
